@font-face{
  font-family: 'Anton';
  src: url('./fonts/Anton.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  /* define colors as colors */
  --red: #831b2d;
  --pink: #ff3456;
  --trueRed: rgb(219, 25, 25);
  --purple: #8f62aa;
  --black: #161f2b;
  --trueBlack: #000;
  --darkBlue: #00214d;
  --darkGrey: #111;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --white: #fff;

  /* define colors' intentions */
  --primary: var(--red);
  --secondary: var(--purple);
  --danger: var(--trueRed);
  --background: var(--lightGrey);
  --secondaryBg: var(--grey);
  --textColor: var(--black);
  --buttonTextColor: var(--background);
  --lineColor: var(--grey);
  --cardBg: var(--white);
  --headerBackground: var(--background);
  --headerTextColor: var(--black);
  --footerBackground: var(--background);
  --footerBackgroundFade: var(--grey);
  --footerTextColor: var(--black);

  /* Styles */
  --line: solid 0.125rem var(--lineColor);
  --baseFontSize: 100%;
  --borderRadius: 4px;

  /* Type */
  --headingFont: 'Anton';
  --bodyFont: sans-serif;
  --biggestH: 6rem;
  --bigH: 4rem;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1rem;
  --smallText: 0.8rem;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 1.5rem;
  --headerHeight: 3rem;
}

@media only screen and (min-width: 500px) {
  :root {
    --baseFontSize: 112.5%;
  }
}



/* FROM type-scale.com */

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
} /*18px*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background: var(--background);
  color: var(--textColor);
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 1rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--primary);
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 0.25rem solid var(--background);
}

/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: var(--headerTextColor);
  height: var(--headerHeight);
  background: var(--headerBackground);
  box-shadow: var(--level-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--containerPadding);
  z-index: 10;
}

header nav a {
  color: inherit;
  text-decoration: none;
}

header nav a + a,
header nav div {
  margin-left: 0.75rem;
}

main {
  padding-bottom: 3rem;
}

p {
  margin-bottom: 1rem;
  max-width: 40em;
}

.link,
p a, 
li a,
blockquote a {
  color: var(--textColor);
  text-decoration: none;
  border-bottom: 2px solid var(--primary);
}

.content {
  margin-top: 2rem;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.content p,
.content h2 {
  max-width: 40rem;
  margin: 0 auto;
}

.content p {
  padding: var(--containerPadding);
}

.content h2 {
  padding: 2rem var(--containerPadding) 1.5rem var(--containerPadding);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: var(--h1);
}

h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

h6 {font-size: var(--h6);}

small, .text_small {font-size: var(--smallText);}

/* End type-scale */
ul {
  padding: 0;
}

li {
  list-style: none;
}

blockquote {
  margin: 1em 0;
  padding: 2em;
  background: var(--cardBg);
  box-shadow: var(--level-3);

}

label {
  display: block;
  font-size: var(--smallText);
  color: var(--textColor)
}

input, textarea {
  padding: 4px 5px;
  border: var(--line);
  border-radius: 4px;
  width: 100%;
}

input:focus,
textarea:focus {
  outline-color: black;
  outline-width: 0.125rem;
}

figure {
  max-width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

textarea {
  height: 5em;
}

::placeholder {
  color: var(--grey);
}

select {
  border: var(--line);
}

hr {
  border-top: var(--line);
}

button {
  --buttonColor: var(--textColor);
  appearance: none;
  color: var(--buttonTextColor);
  background: var(--buttonColor);
  border: none;
  border-radius: 10px;
  padding: 10px 25px 5px 25px;
  box-shadow: var(--level-1);
  transition: 0.3s ease-in-out box-shadow;
}

button:hover {  
  box-shadow: var(--level-4);
}

button[disabled] {
  opacity: 0.4;
}

button.cancel {
  --buttonColor: var(--danger);
  --textColor: var(--white);
}

button.small {
  font-size: var(--smallText);
}

.grid {
  --gridCols: 2;
  display: grid;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.grid--split  {
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.cols-3 {
  --gridCols: 3;
}

.cols-4 {
  --gridCols: 4;
}

.split {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.flex {
  --justifyContent: space-between;
  display: flex;
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: space-around;
}

.logo {
  margin: 0;
  font-size: var(--baseFontSize);
  font-weight: 900;
  font-family: var(--headingFont);
  text-decoration: none;
  color: inherit;
}

.card {
  padding: 2em;
  background: var(--cardBg);
  box-shadow: var(--level-3);
  border-radius: var(--borderRadius);
}

/* first item will never have a margin top */
.card > *:first-child {
  margin-top: 0;
}

/* last child in card will never have margin bottom */
.card > *:last-child {
  margin-bottom: 0;
}


/* themes */
.dark {
  --primary: var(--pink);
  --secondary: var(--red);
  --cardBg: var(--darkGrey);
  --background: var(--trueBlack);
  --secondaryBg: var(--darkGrey);
  --textColor: var(--lightGrey);
  --buttonTextColor: var(--trueBlack);
  --headerBackground: var(--darkGrey);
  --headerTextColor: var(--white);
  --footerBackground: var(--darkGrey);
  --footerBackgroundFade: var(--trueBlack);
}